region                                       = "us-east-1"
cluster_name                                 = "infra-cluster"
environment                                  = "dev"
karpenter_controller_role_arn                = "arn:aws:iam::920278691034:role/KarpenterControllerRole-infra-cluster"
karpenter_interruption_queue_name            = "infra-cluster-karpenter-interruptions"
karpenter_node_instance_profile_name         = "infra-cluster"
